.chatsBoard,
.main {
  display: flex;
}

.secChat {
  margin-top: 30px;
}
.friend {
  cursor: pointer;
}
.main {
  gap: 50px;
  width: 100%;
}
.mainApp {
  max-width: 800px;
  margin: 50px auto;
  height: 90vh;
  position: relative;
  background-color: #b82626;
}

.person {
  width: 100%;
}

.chatOner {
  width: 100%;
  height: 620px;
}
/* CHAT */
.chat {
  display: flex;
  justify-content: space-between;
}
.chat .cont {
  font-size: 1rem;
  margin: 5px;
  font-family: sans-serif;
}
.chat1 {
  background-color: #25fc90;
}
.chat2 {
  background-color: white;
}
.time {
  font-size: 0.6rem;
  margin-top: 10px;
  padding-right: 10px;
  color: #575757;
}
/* LOGIN CELL */
.login-cell {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.login-cell p {
  font-size: 1.2rem;
  margin-bottom: -1px;
  margin-left: 3px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 500;
}
.login-cell input {
  width: 270px;
  height: 40px;
  border-radius: 25px;
  font-size: 1.2rem;
  outline: none;
}
.login-cell button {
  display: inline-block;
  cursor: pointer;
  /* width: 250px; */
  border-radius: 6px;
  padding: 4px 6px;
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
}
.size-6 {
  width: 100px;
  height: 100px;
}
.error {
  position: absolute;
  top: -8%;
  left: 2%;
  font-size: 1.2rem;
  color: red;
}
.intro {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
}

/* INTRODUCTION */
.firstSight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.firstSight h1 {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 60px;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 1.1px;
}
.firstSight button {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: sans-serif;
  border-radius: 6px;
  text-transform: capitalize;
}

/* PEOPLE */
ul {
  max-width: 200px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
}
li {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 11px;
}
.span {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 500;
}
li img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.owner {
  margin: 0 auto;
}
/* textInput */
.textInput {
  position: fixed;
  bottom: 3%;
  left: 3%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 5px;
  gap: 5px;
}
.textInput input {
  width: 70%;
  height: 30px;
  font-size: 1.2rem;
  border-radius: 6px;
}
.textInput button {
  display: inline-block;
  cursor: pointer;
  padding: 6px 12px;
  border: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-radius: 6px;
}
